body {
            font-family: 'Inter', sans-serif;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f2f5; /* Light grey background */
        }
        /* Style for the initial circle with initials */
        .initials-circle {
            width:70 px;
            height: 70px;
          
            background-color: #1e40af; /* Deep blue color */
            color: white;
            font-size: 28px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: 0 0 0 2px #1e40af; /* Inner blue border effect */
        }
